{
  "trailingComma": "es5",
  "tabs": false,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "bracketSpacing": true,
  "overrides": [
    {
      "files": "Makefile",
      "options": {
        "tabs": true
      }
    }
  ]
}
